<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Page</title>
</head>
<body>
The top-20 recommendations for the selected user ({{ id }}):
<br>
{% for movie in list %}
    <ul>
        <li>Name: {{ movie.Title }}</li>
        <li>Genre: {{ movie.Genres }}</li>
        <li>Overview: {{ movie.overview }}</li>
        <img src={{ "https://image.tmdb.org/t/p/w500" }}{{ movie.poster_path }} }} , style="width:256px;height:256px;">
    </ul>
    <br>
{% endfor %}

</body>
</html>